@model WebApplication2.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
<label>Shared Article Link: </label>
<div id="sharedLink">  </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) 
    |@Ajax.ActionLink("Share", "Share", new { articleId = Model.ID }, new AjaxOptions
                                                        {
                                                            UpdateTargetId = "sharedLink", // <-- DOM element ID to update

                                                            InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element

                                                            HttpMethod = "GET" // <-- HTTP method

                                                        }) |
    @Html.ActionLink("Back to List", "Index")
</p>
